<h1>Log In Below:</h1>

<form action="/sessions" method="post">

  <div class="input-field">
    <input type="text" name="email" id="email">
    <label for="email">Email</label>
  </div>
    <div class="input-field">
    <input type="password" name="password" id="password">
    <label for="password">Password</label>
  </div>


  <input type="submit" value="Log In" >
</form>