<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  <div class="input-field">
    <input type="text" name="name" id="name">
    <label for="name">Username</label>
  </div>
  <div class="input-field">
    <input type="text" name="email" id="email">
    <label for="email">Email</label>
  </div>
    <div class="input-field">
    <input type="password" name="password" id="password">
    <label for="password">Password</label>
  </div>


  <input type="submit" value="Sign Up" >
</form>